body {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link--cta {
    font-size: 16px;
    color: aquamarine;
}

.second-title {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.description-text{
    font-size: 21px;
    color: gray;  
}

.copyright{
    text-align: right;
    font-size: 20px;
    color: gray;
}